.bg-mars{
    background-image: linear-gradient(to bottom right, red, yellow);
}

.bg-orange{
    background-color: #ff6c1c;
}

.bg-yellow{
    background-color: #e0de5b;
}

.text-yellow{
    color: yellow;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
}
